body{
	background-color: #b0adad;
}


#menu_navegacion {
    background-color: #86A4DB;
    color: #fff;
    padding: 15px;
	margin-top: 10px;
	height: 30px;
	text-align: center;
    box-shadow: 0 0 10px #0E0E0E;
	border-color:#0E0E0E;
}


#primary_nav_wrap{
	margin-top:15px;
	margin-left: 100px;
    box-shadow:#0c0c0c;
	transform: translate(10px, -10px);
}

#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	border-radius: 10px;
}

#primary_nav_wrap ul a{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif	  
}

#primary_nav_wrap ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	height: 50px;
	
}

.home2{
	height: 60px;
	width: 200px;
	transform: translate(-124px, -35px);
}
.titulo_home2{
	width: 200px;
	transform: translate(-450px, 10px);
}
.home3{
	height: 60px;
	width: 200px;
	transform: translate(-124px, -35px);
}
.titulo_home3{
	width: 200px;
	transform: translate(-450px, 10px);
}
#primary_nav_wrap ul li.current-menu-item{
	height: 50px;
}


.descripcion_curso {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
  }
  
  /* Estilos para el párrafo principal */
  
  p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  /* Estilos para la lista */
  
  ul {
	list-style-type: none;
	margin-bottom: 20px;
  }
  
  li {
	margin-bottom: 10px;
  }
  
  /* Estilos para el texto de la lista */
  
  .titulo-lista {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  /* Estilos para el texto de los elementos de la lista */
  
  .texto-lista {
	font-size: 16px;
  }
  .titulo-lista3 {
    font-weight: bold;
    color:#8c86db;
    margin-bottom: 5px;
    }
    .texto-lista3 {
    color:coral;
    font-size: 16px;
    }
    #descripcion_curso3{
    background-color: #D5F5E3;
    }